<body>
  <h1>New Skill</h1>
  <form action="/skills" method="POST" autocomplete="off">
    <p>Skill</p>
    <input type="text" name="skill" required />
    <p>Level (out of 5 - ie. 3/5)</p>
    <input type="text" name="level" />
    <button type="submit">Save Skill</button>
  </form>
</body>
